---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     50px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #1C3DC9;
$brand-color-dark:  darken($brand-color, 10%);

$grey-color:       #999;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$light-grey:       #999;
$dark-grey:       #444;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@font-face {
	font-family: 'Akkurat';
	src: url('/fonts/akkurat.eot');
	src: local('☺'), url('/fonts/akkurat.woff') format('woff'), url('/fonts/akkurat.ttf') format('truetype'), url('/fonts/akkurat.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat-Bold';
	src: url('/fonts/akkurat-bold.eot');
	src: local('☺'), url('/fonts/akkurat-bold.woff') format('woff'), url('/fonts/akkurat-bold.ttf') format('truetype'), url('/fonts/akkurat-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat-Light';
	src: url('/fonts/akkurat-light.eot');
	src: local('☺'), url('/fonts/akkurat-light.woff') format('woff'), url('/fonts/akkurat-light.ttf') format('truetype'), url('/fonts/akkurat-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ProximaNova';
	src: url('/fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('/fonts/ProximaNova-Regular.woff') format('woff'), url('/fonts/ProximaNova-Regular.ttf') format('truetype'), url('/fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: 'Akkurat-Light';
	font-size: 36px;
	font-weight: 100;
}


h2, h3, h4, .post-link span {
	font-family: 'Akkurat-Light'
}

h5, h6, p, a, .share-label, .views, article ul {
	font-family: 'ProximaNova'
}

h6, .share-label, .views {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}

.post .right-side p, .post .right-side h3, article ul  {
	color: $dark-grey;
}

.share-label, .views, .post .right-side h5, .post .right-side h6 {
	color: $light-grey !important;
}

a:hover, a:visited, a:focus {
	color: $brand-color;
}

hr {
	width: 100%;
    border-style: none;
    height: 1px;
    background: #eee;
}


.post .right-side ul {
	    margin-top: -25px;
    margin-left: 30px;

}

.slides {
	margin: 0px !important;
}

.clear {
	clear: both;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;

// BASE CUSTOMIZATION
.small-arrow {
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    display: block;
}

.left-small {
	background-image: url(../img/icons/left-small.svg);
}

.right-small {
	background-image: url(../img/icons/right-small.svg);
}

.splitscreen {
	width: 50%;
	min-height: 100%;
	position: absolute;
	overflow-x: hidden;
}

.left-side {
	left: 0;
	background: #222;
	position: fixed;
	height: 100%;
	color: white;

a {
	color: white;
}
}

.right-side {
	right: 0;
	background: white;
}

.animate {
	position: relative;
	height: inherit;
}

.wrapper {
	padding-top: 60px;
	padding-bottom: 60px;
}

.manual {
	margin-bottom: 60px;
}

hr {
	margin-bottom: 60px;
}

.home .page-heading {
	font-family: "Akkurat";
}

.about .page-heading {
	font-family: "Akkurat";
}

.manual-header {
	background: $brand-color;
	padding: 25px;
	margin-bottom: 2px;
	color: white;


	.manual-title {
	float: left;
	width: calc(50% - 150px);
	margin-right: 50px;
	}

	.manual-info {
	float: left;
	width: calc(50% + 100px)
	}

	p {
    margin-bottom: 0px;
    font-size: 14px;
	}
}

h6 {
    margin-bottom: 5px;
	}

	.post-link {
overflow: hidden;

img {
		-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
	}

.post-link:hover img {
	transform: scale(1.1);
}

.post-list {
	margin-left: 0px;

	a {
	width: calc(33.33% - 1.33px);
    float: left;
    list-style-type: none;
    position: relative;
    margin-right: 2px;
    margin-bottom: 2px;
	}

	a:nth-child(3n+3) {
	margin-right: 0px;
	}

	span {
	position: absolute;
    color: white;
    opacity: 0.3;
    font-size: 120px;
    margin-top: -18px;
    width: 100%;
    text-align: center;
    z-index: 100;
	}

	h3 {
	font-family: "Akkurat";
	}

	h2 {
	position: absolute;
    top: 0;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 45px;

	}
}

.logo {
	background-image: url(../img/icons/logo.svg);
	width: 260px;
	height: 75px;
	background-size: 260px 75px;
	 display: block;
	 margin: auto;
	 margin-bottom: 30px;
}

.home .left-side {

.wrapper {
	position: relative;
	top: 40%;
	transform: translateY(-40%);
}

.animate {
	background-image: url("/img/backgrounds/index.jpg");
  background-size: cover;
  text-align: center;
  background-position: center center;
  }

  h1 {
  margin-top: 38%;
  text-transform: uppercase;
  font-family: "Akkurat-Bold";
  letter-spacing: 18px;
  font-size: 50px; 
margin-bottom: 4px;
  }

  h4 {
  font-size: 20px;
  font-family: "Akkurat-Light";
  margin-bottom: 180px;
  opacity: 0.75;
  }

  a {
  padding: 6px 20px;
  border-radius: 30px;
  background: $brand-color;
  border: 1px solid $brand-color-dark;
  display: inline-block;
  }

  #home-video {
  margin-right: 25px;
  }

  #home-learn {
  background: transparent;
  border: 2px solid white;
  padding: 4px 20px;
  }

    a:hover {
  text-decoration: none;
  background: white;
  color: $brand-color;
  border: 1px solid transparent;
  }

  #home-learn:hover {
  background: white;
  }
}

// POST STYLING
.post .left-side {
.slides:hover > li {
  opacity: 0.5;
}

.slides > li:hover {
  opacity: 1.0;
}

.slides > li {
		-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

	.flexslider {
		    padding: 30px 70px 25px;
		    margin: 10px 0 40px;
	    background: rgba(0,0,0,0.3);
	    border: 0px;

	    img {
	    max-width: 80px;
	    text-align: center;
	    margin: auto;
	    }

	   		p {
	   		text-align: center;
	   		margin: 10px 0px 0px;
	   		font-size: 12px;
	   		}
	}

	#tool-slider {
	margin-bottom: 0px;
	}

hr {
	position: absolute;
	bottom: 60px;
	margin: 0px;
	width: 100%;
	opacity: 0.2;
}
}

.flex-next {
	    		right: 15px;
	    		opacity: 0.3;
	    	}

	    	.flex-prev {
	    		left: 15px;
	    		opacity: 0.3;
	   		}


.article-nav {
	bottom: 0px;
    position: absolute;
    width: calc(100% - 100px);
left: 50px;
    h2 {
    margin-bottom: 10px;
    }
}

.difficulty {
	float: left;
	margin-right: 60px;
}

.difficulty span {
	width: 300px;
    height: 23px;
    display: block;
    background-size: 100%;
    margin-top: 10px;
}

.difficulty-1 {
	background: url("../img/icons/difficulty-1.svg");
}

.difficulty-2 {
	background: url("../img/icons/difficulty-2.svg");
}

.difficulty-3 {
	background: url("../img/icons/difficulty-3.svg");
}

.difficulty-4 {
	background: url("../img/icons/difficulty-4.svg");
}

.difficulty-5 {
	background: url("../img/icons/difficulty-5.svg");
}

.time {
	float: left;
}

.time h3 {
	margin-bottom: 0px;
}

.time, .difficulty {
	margin-bottom: 50px;
}

.materials h6, .tools h6 {
	float: left;
}

h6.disclaimer {
	float: right;
}

.post .left-side h6 {
	opacity: 0.5;
}

 .next a.post-link {
    float: right;
}

.toc {
	opacity: 0.5;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.toc:hover {
	opacity: 1.0;
}

.toc span {
	margin-right: 8px;
	margin-top: 4px;
	width: 13px;
	height: 13px;
	background-size: 13px 13px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.toc:hover span {
	transform: translateX(-5px);
}

.left-side .next, .left-side .next div {
	float: right;
	    margin-left: 7px;
    margin-top: 11px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.left-side .prev, .left-side .prev div {
	float: left;
	    margin-right: 7px;
    margin-top: 11px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.left-side .next:hover div {
	    transform: translateX(5px);
	    opacity: 1.0;
}

.left-side .prev:hover div{
	    transform: translateX(-5px);
	    opacity:1;
}

.post .post-list {
	position: relative;

	h6 {
    width: 33.3%;
    text-align: center;
    position: absolute;
    margin-top: -30px;
}
}

.next h6 {
	right: 0px;
}

.prev h6 {
	left: 0;
}

.views {
	float: left;
}

.share {
	float: right;
}

progress {
  /* Positioning */
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  /* Dimensions */
  width: 50%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: #eee;

  /* Progress bar value for IE10+ */
  color: $brand-color;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $brand-color;
}

progress::-moz-progress-bar {
  background-color: $brand-color;
}

// ARTICLE STYLING
.post .right-side {
article {

p, img{
	width: 100%;
}

}

.article-footer {
	margin: 70px 0px 55px 0px;
}

.share {
	margin-top: -10px;
}

.share a {
    margin: 0px 3px;
    background: transparent;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
   border-radius: 50px;
    width: 15px;
    height: 24px;
    display: inline-block;
    text-align: center;
    border: 1px solid #A6B4E8;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    i {
        padding-top: 5px;
        color: $brand-color;
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
}

.share a:hover {
	background: $brand-color;
	border: 1px solid $brand-color;
	color: white;

	i {
	color: white;
	}
}

.share-label {
	margin-right: 10px;
}

.instagram {
    width: 100%;
    height: 150px;
    display: inline-block;
    margin: 20px 0px 30px;
    background: url("../img/backgrounds/insta.jpg");
}

.instagram p, .instagram h3 {
    width: 100%;
    text-align: center;
    color: white;
    margin: 0px;
}

.instagram h3 {
	margin: 32px 0 20px 0;
}

.instagram a {
    color: white;
    border: 1px solid white;
    padding: 6px 10px;
    border-radius: 3px;
}

hr {
    margin: 30px auto 60px auto;
}

h3, p, h5, h4, .dadtip {
	margin: 0 0 30px 0;
	display: inline-block;
}

article img {
	margin: 0 0 -30px 0;
}

.flexslider, .flexslider img {
	margin: 0 0 0px 0;
	border: 0px;
}



.flexslider:hover .flex-control-paging li a {
	opacity: 1;
}

flex-direction-nav {
	opacity: 0;
}

.flex-control-paging li a {
	    box-shadow: none;
	    -webkit-box-shadow: none;
	    border: solid 1px white;
	    background: transparent;
	    opacity: 0.3;
	  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flex-control-paging li a.flex-active {
	background: white;
}

.flex-control-nav {
    bottom: 70px;

}

.flex-direction-nav a {
top: 45%;	
}

article hr {
    width: 45px;
    border-style: none;
    height: 2px;
    background: #ddd;
    margin: 30px auto 60px auto;
}

h5 {
	padding-top: 8px;
}

h3 {
    font-size: 21px;
    margin: 30px 0px 60px 0;

}

h4 {
	color: $brand-color;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 18px;
}

.number {
	border: 1px solid #A6B4E8;
    border-radius: 30px;
    margin-right: 10px;
    color: #1C3DC9;
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;

    span {
     margin-top: 3px;
    display: block;
    }
}

.dadtip {
	border: 1px solid $brand-color;
	padding: 25px 30px;
	margin-top: 20px;

	h6 {
	position: absolute;
	background: white;
	padding: 10px;
	margin-left: -10px;
	margin-top: -44px;
	} 

	p {
	margin: 0px;
	}
}

}

// Media Queries 

@media (max-width: 900px) {
.splitscreen {
	width: 100%;
}

.left-side {
	position: relative;
}
progress {
	width: 100%;
}

.tools {
	margin-bottom: 60px;
}


.home .left-side h1 {
	margin-top: 0px;
}

.article-nav {
	display: none;
}

}

@media (max-width: 480px) {
.post-list a {
	width: 100%;
}

.manual-header .manual-info {
	width: 50%;
	float: right;
}
}

@media (max-height: 790px) and (min-width: 900px) {
.materials, .tools {
	width: calc(50% - 10px);
} 

.materials {
	float: left;
}

.tools {
	float: right;
}

.disclaimer {
	display: none;
}
}