---
layout: default
---

<div class="home" data-viewport="0">
  <div class="left-side splitscreen">
    <div class="animate">
      <div class="wrapper">
      <span class="logo"></span>
      <h4>The complete guide to complete freedom.</h4>
<a class="fancybox-media" id="home-video" href="http://vimeo.com/36031564">Watch Video</a><a href="/about" id="home-learn" data-target="1">Learn More</a><p id="gallery-btn">View gallery</p>
      </div>
      <a href="http://homedepot.com" class="main-sponsor"> <div id="powered-by"></div>
    <div id="corporate"></div></a>
    </div>
  </div>
  <div class="right-side splitscreen">
    <div class="animate">
      <div class="wrapper">
      <h2 class="page-heading">Manuals</h2>
      <div class="manual">
        <div class="manual-header">
          <div class="manual-title">
            <h6>Title</h6>
            <h3>Build Manual</h3>
          </div>
          <div class="manual-info">
            <h6>Info</h6>
            <p>From beginning to end, this guide will walk you through the DIY process of building a sweet conversion campervan.</p>
          </div>
          <div class="clear"></div>
        </div>
        <ul class="post-list">
          {% for post in site.categories['build-manual'] %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" data-target="{{ post.number }}">
            <li>
              <span>{{ post.number }}</span>
              {% assign image = post.images[0] %}
            {% include image.html image=image %}
              <h2>
                {{ post.title }}
              </h2>
            </li>
            </a>
          {% endfor %}
        </ul>
        <div class="clear"></div>
      </div>
      <div class="instagram">
        <h3>
        Follow the adventure on Instagram
      </h3>
      <p><a href='http://zachboth.com'><i class="fa fa-instagram"></i>  @zachboth</a></p>
      </div>
      <div class="manual">
        <div class="manual-header">
          <div class="manual-title">
            <h6>Title</h6>
            <h3>Vanlife Manual</h3>
          </div>
          <div class="manual-info">
            <h6>Info</h6>
            <p>From beginning to end, this guide will walk you through the DIY process of building a sweet conversion campervan.</p>
          </div>
          <div class="clear"></div>
        </div>
          <ul class="post-list">
              {% for post in site.categories['vanlife-manual'] %}
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" data-target="{{ post.number }}">
                <li>
                  <span>{{ post.number }}</span>
                  {% assign image = post.images[0] %}
                  {% include image.html image=image %}
                  <h2>
                    {{ post.title }}
                  </h2>
                </li>
                </a>
              {% endfor %}
          </ul>
          <div class="clear"></div>
        </div>
         <p class="disclaimer">DISCLAIMER AND DISCLOSURE FUN: <br/>The views and opinions expressed on this site are those of the author and do not necessarily reflect the views of the site's various partners and/or sponsors.</p>
      </div>
    </div>
  </div>
</div>
<div class="masonry">
  <span id="close-gallery" class="fancybox-close" ></span>
<div id="wrapper">
  <h2>Gallery</h2>
<p>The views and opinions expressed on this site are those of the author and do not necessarily reflect the views of the site's various partners and/or sponsors.</p>
    <ul id="list">
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-1000-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-1000-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-1200-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-1200-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-800-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-800-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-1200-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-1200-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-800-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-800-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-1000-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-1000-600-5.jpg" /></a></li>
         <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-1000-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-1000-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-1200-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-1200-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-800-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-800-600-5.jpg" /></a></li>
         <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-1200-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-1200-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-800-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-800-600-5.jpg" /></a></li>
        <li class="item"><a class="fancybox" href="http://lorempixel.com/image_output/nature-q-c-1000-600-5.jpg" data-fancybox-group="gallery" title=""><img src="http://lorempixel.com/image_output/nature-q-c-1000-600-5.jpg" /></a></li>
       
    </div>
  </div>
</div>

<script>


$(document).ready(function() {  


});   

</script>
