---
layout: default
---
<style>

.post .left-side .animate {
  background-image: url("../img/backgrounds/about-bg.jpg");
  background-size: cover;
}
</style>
<div class="post about m-scene" data-viewport="-1">
  {% include sidemenu.html %}
 <div class="left-side splitscreen">
  <div class="animate">
    <div class="toc" style="display: inline-block;">
    <div class="wrapper">
      <span>
  <svg width="22px" height="13px" viewBox="0 0 22 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#fff">
                    <path d="M0,5 L18,5 L18,7 L0,7 L0,5 L0,5 Z"></path>
                    <path d="M0,10 L18,10 L18,12 L0,12 L0,10 L0,10 Z"></path>
                    <path d="M0,0 L18,0 L18,2 L0,2 L0,0 L0,0 Z"></path>
                </g>
              </g>
          </svg>MENU
          </span>
        </div></div>
</div>
</div>
 <div class="right-side splitscreen">
  <div class="animate">
    <div class="wrapper">
  <article class="post-content">
    <h2 class="page-heading">{{ page.title }}</h2>
    {{ content }}
  </article>
  <hr />
  <div class="social-bar">
        <p class="views">1k Views</p>
        <span class="share"><span class="share-label">Share:</span><a href=""><span class="facebook"><i class="fa fa-facebook"></i></span></a><a href=""><span class="twitter"><i class="fa fa-twitter"></i></span></a><a href=""><span class="gplus"><i class="fa fa-google-plus"></i></span></a><a href=""><span class="email"><i class="fa fa-envelope"></i></span></a>
      </span>
      <div class="clear"></div>
      </div>
      <div class="instagram">
        <h3>
        Follow the adventure on Instagram
      </h3>
      <p><a href='http://zachboth.com'><i class="fa fa-instagram"></i>  @zachboth</a></p>
      </div>
</div>
</div>
</div>
 <script>
(function() {
  var winHeight = $(window).height(), 
      docHeight = $(document).height(),
      progressBar = $('progress'),
      max, value;

  /* Set the max scrollable area */
  max = docHeight - winHeight;
  progressBar.attr('max', max);

  $(document).on('scroll', function(){
     value = $(window).scrollTop();
     progressBar.attr('value', value);
  });
})();

(function() {
 
  // store the slider in a local variable
  var $window = $(window),
      flexslider;
 
  // tiny helper function to add breakpoints
  function getGridSize() {
    return (window.innerWidth < 600) ? 2 :
           (window.innerWidth < 900) ? 3 : 4;
  }

  (function() {
      // The slider being synced must be initialized first
  $('#material-slider').flexslider({
      animation: "slide",
      itemWidth: 210,
      itemMargin: 10,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: 2, // use function to pull in initial value
      move: 0,
      slideshow: false,
      controlNav: false,
      prevText: "",    //String: Set the text for the "previous" directionNav item
      nextText: "",  
  });

  $('#tool-slider').flexslider({
      animation: "slide",
      itemWidth: 210,
      itemMargin: 10,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: 2, // use function to pull in initial value
      move: 0,
      slideshow: false,
      controlNav: false,
      prevText: "",    //String: Set the text for the "previous" directionNav item
      nextText: "",  
  });

  $('.article-slider').flexslider({
    animation: "slide",
    prevText: "",    //String: Set the text for the "previous" directionNav item
      nextText: "",  
  });
  })();

  // check grid size on resize event
}());
  </script>
</div>
{% if page.categories contains "build-manual" %}
<!-- Target sliders individually with different properties -->
<script type="text/javascript" charset="utf-8">


</script>
{% endif %}
<script>
</script>
