---
layout: default
---
<style>
{% for image in page.images %}
.post .left-side .animate {
  background-image: url("{{image.background}}");
  background-size: cover;
      background-position: center center;
}
      {% endfor %}
</style>

<div class="post m-scene" data-viewport="{{ page.number }}">
  <div class="menu-slide">
      <div class="wrapper">
        <a href="/">
          <span class="logo"></span>
        </a>
        <h6>Build Manual</h6>
        <ul>
              {% for post in site.categories['build-manual'] %}
              <li>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" data-target="{{ post.number }}">
                    {{ post.title }}
                </a>
                </li>
              {% endfor %}
          </ul>
           <h6>Vanlife Manual</h6>
        <ul>
              {% for post in site.categories['vanlife-manual'] %}
                <li>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" data-target="{{ post.number }}">
                    {{ post.title }}
                </a>
                </li>
              {% endfor %}
          </ul>
          <p><a href='./about'>About</a></p>
          <p><a href='./about'>Contact</a></p>
          <div class="social-follow">
          <span class="instagram"><a href="http://instagram.com/zachboth"><i class="fa fa-instagram"></i></a></span><span class="facebook"><a href="http://instagram.com/zachboth"><i class="fa fa-facebook"></i></a></span><span class="twitter"><a href="http://instagram.com/zachboth"><i class="fa fa-twitter"></i></a></span>
        </div>
      </div>
  </div>
 <div class="left-side splitscreen">
  <div class="animate">
  <div class="toc" style="display: inline-block;">
    <div class="wrapper">
      <span>
  <svg width="22px" height="13px" viewBox="0 0 22 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#fff">
                    <path d="M0,5 L18,5 L18,7 L0,7 L0,5 L0,5 Z"></path>
                    <path d="M0,10 L18,10 L18,12 L0,12 L0,10 L0,10 Z"></path>
                    <path d="M0,0 L18,0 L18,2 L0,2 L0,0 L0,0 Z"></path>
                </g>
              </g>
          </svg>MENU
          </span>
        </div></div>
    <div class="wrapper">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
{% if page.categories contains "vanlife-manual" %}
<div class="videowrapper">
<iframe src="https://player.vimeo.com/video/155612668" width="792" height="446" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>
{% endif %}
{% if page.categories contains "build-manual" %}
<div class="difficulty">
<h6>Difficulty</h6>
 {% if page.difficulty == 1 %}
        <span class="difficulty-1"></span>
      {% endif %}
      {% if page.difficulty == 2 %}
        <span class="difficulty-2"></span>
      {% endif %}
      {% if page.difficulty == 3 %}
        <span class="difficulty-3"></span>
      {% endif %}
      {% if page.difficulty == 4 %}
        <span class="difficulty-4"></span>
      {% endif %}
      {% if page.difficulty == 5 %}
        <span class="difficulty-5"></span>
      {% endif %}
</div>
<div class="time">
  <h6>Time</h6><h3>{{ page.time }}</h3>
</div>
<div class="clear"></div>
<div class="materials">
<h6>Materials Used</h6><h6 class="disclaimer">Links open on homedepot.com</h6>
<div class="clear"></div>
<div id="material-slider" class="flexslider">
<ul class="slides">{% for material in page.materials %}
 <li> <a href="{{ material.url }}"><img src="{{ material.img }}" /><p>{{ material.name }}</p></a></li>{% endfor %}
</ul>
</div>
</div>
<div class="tools">
<h6>Tools Used</h6><h6 class="disclaimer">Links open on homedepot.com</h6>
<div class="clear"></div>
<div id="tool-slider" class="flexslider">
<ul class="slides">{% for tool in page.tools %}
  <li><a href="{{ tool.url }}"><img src="{{ tool.img }}" /><p>{{ tool.name }}</p></a></li>{% endfor %}
</ul>
</div>
</div>
{% endif %}
</div>
<hr />
{% if page.categories contains "build-manual" %}
<div class="article-nav">
<div class="prev">
  {% if page.next and page.next.categories contains "build-manual" %}
    <a href="{{page.next.url}}" data-target="{{ page.next.number }}">
      <h2><div class="small-arrow left-small"></div>{{page.next.title}}</h2>
    </a>
  {% endif %}
</div>
<div class="next">
  {% if page.previous and page.previous.categories contains "build-manual" %}
    <a href="{{page.previous.url}}" data-target="{{ page.previous.number }}">
      <h2>{{page.previous.title}}<div class="small-arrow right-small"></div></h2>
    </a>
  {% endif %}
</div>
<div class="clear"></div>
</div>
{% endif %}
{% if page.categories contains "vanlife-manual" %}
<div class="article-nav">
<div class="prev">
  {% if page.next and page.next.categories contains "vanlife-manual" %}
    <a href="{{page.next.url}}" data-target="{{ page.next.number }}">
      <h2><div class="small-arrow left-small"></div>{{page.next.title}}</h2>
    </a>
  {% endif %}
</div>
<div class="next">
  {% if page.previous and page.previous.categories contains "vanlife-manual" %}
    <a href="{{page.previous.url}}" data-target="{{ page.previous.number }}">
      <h2>{{page.previous.title}}<div class="small-arrow right-small"></div></h2>
    </a>
  {% endif %}
</div>
<div class="clear"></div>
</div>
{% endif %}
</div>
</div>
<progress value="0"></progress>
 <div class="right-side splitscreen">
  <div class="animate">
    <div class="wrapper">
      <div class="social-bar">
        <p class="views">1k Views</p>
         <span class="share"><span class="share-label">Share:</span><a href=""><span class="facebook"><i class="fa fa-facebook"></i></span></a><a href=""><span class="twitter"><i class="fa fa-twitter"></i></span></a><a href=""><span class="gplus"><i class="fa fa-google-plus"></i></span></a><a href=""><span class="email"><i class="fa fa-envelope"></i></span></a>
      </span>
      <div class="clear"></div>
      </div>
  <article class="post-content">
    <h3>{{ page.description }}</h3>
    {{ content }}
  </article>
  <hr />
  <div class="article-footer">
      {% if page.categories contains "build-manual" %}
<div class="prev post-list">
  {% if page.next and page.next.categories contains "build-manual" %}
  <h6>Prev Chapter</h6>
   <a class="post-link" href="{{ page.next.url | prepend: site.baseurl }}" data-target="{{ page.next.number }}">
            <li>
              <span>{{page.next.number}}</span>
              {% for image in page.next.images %}
      <img src="{{image.url}}" />
      {% endfor %}
              <h2>
                {{ page.next.title }}
              </h2>
            </li>
            </a>
  {% endif %}
</div>
<div class="next post-list">
  {% if page.previous and page.previous.categories contains "build-manual" %}
  <h6>Next Chapter</h6>
    <a class="post-link" href="{{ page.previous.url | prepend: site.baseurl }}" data-target="{{ page.previous.number }}">
            <li>
              <span>{{page.previous.number}}</span>
              {% for image in page.previous.images %}
      <img src="{{image.url}}" />
      {% endfor %}
              <h2>
                {{ page.previous.title }}
              </h2>
            </li>
            </a>
  {% endif %}
</div>
{% endif %}
{% if page.categories contains "vanlife-manual" %}
<div class="prev post-list">
  {% if page.next and page.next.categories contains "vanlife-manual" %}
  <h6>Prev Chapter</h6>
   <a class="post-link" href="{{ page.next.url | prepend: site.baseurl }}" data-target="{{ page.next.number }}">
            <li>
              <span>{{page.next.number}}</span>
              {% for image in page.next.images %}
      <img src="{{image.url}}" />
      {% endfor %}
              <h2>
                {{ page.next.title }}
              </h2>
            </li>
            </a>
  {% endif %}
</div>
<div class="next post-list">
  {% if page.previous and page.previous.categories contains "vanlife-manual" %}
   <h6>Next Chapter</h6>
    <a class="post-link" href="{{ page.previous.url | prepend: site.baseurl }}" data-target="{{ page.previous.number }}">
            <li>
              <span>{{page.previous.number}}</span>
              {% for image in page.previous.images %}
      <img src="{{image.url}}" />
      {% endfor %}
              <h2>
                {{ page.previous.title }}
              </h2>
            </li>
            </a>
  {% endif %}
</div>
{% endif %}
<div class="clear"></div>
    </div>
    <hr />
  <div class="social-bar">
        <p class="views">1k Views</p>
        <span class="share"><span class="share-label">Share:</span><a href=""><span class="facebook"><i class="fa fa-facebook"></i></span></a><a href=""><span class="twitter"><i class="fa fa-twitter"></i></span></a><a href=""><span class="gplus"><i class="fa fa-google-plus"></i></span></a><a href=""><span class="email"><i class="fa fa-envelope"></i></span></a>
      </span>
      <div class="clear"></div>
      </div>
      <div class="instagram">
        <h3>
        Follow the adventure on Instagram
      </h3>
      <p><a href='http://zachboth.com'><i class="fa fa-instagram"></i>  @zachboth</a></p>
      </div>
</div>
</div>
</div>
 <script>
 setTimeout(function() {
(function() {
  var winHeight = $(window).height(), 
      docHeight = $(document).height(),
      progressBar = $('progress'),
      max, value;

  /* Set the max scrollable area */
  max = docHeight - winHeight;
  progressBar.attr('max', max);

  $(document).on('scroll', function(){
     value = $(window).scrollTop();
     progressBar.attr('value', value);
  });
})();

}, 1000);

(function() {
 
  // store the slider in a local variable
  var $window = $(window),
      flexslider;
 
  // tiny helper function to add breakpoints
  function getGridSize() {
    return (window.innerWidth < 600) ? 2 :
           (window.innerWidth < 900) ? 3 : 4;
  }

  (function() {
      // The slider being synced must be initialized first
  $('#material-slider').flexslider({
      animation: "slide",
      itemWidth: 210,
      itemMargin: 10,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: 2, // use function to pull in initial value
      move: 0,
      slideshow: false,
      controlNav: false,
      prevText: "",    //String: Set the text for the "previous" directionNav item
      nextText: "",  
  });

  $('#tool-slider').flexslider({
      animation: "slide",
      itemWidth: 210,
      itemMargin: 10,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: 2, // use function to pull in initial value
      move: 0,
      slideshow: false,
      controlNav: false,
      prevText: "",    //String: Set the text for the "previous" directionNav item
      nextText: "",  
  });

  $('.article-slider').flexslider({
    animation: "slide",
    prevText: "",    //String: Set the text for the "previous" directionNav item
      nextText: "",  
  });
  })();

  // check grid size on resize event
}());
  </script>
</div>
{% if page.categories contains "build-manual" %}
<!-- Target sliders individually with different properties -->
<script type="text/javascript" charset="utf-8">


</script>
{% endif %}

