---
layout: default
---
<div class="post">
 <div class="left-side splitscreen">
    <div class="wrapper">
      <a href="/"><p>Table of Contents</p></a>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
{% if page.categories contains "build-manual" %}
  <p>Time: {{ page.time }}</p>
<p>Difficulty:
 {% if page.difficulty == 4 %}
        really fucking hard
      {% endif %}
  </p>

<h4>Materials:</h4>
<div id="material-slider" class="flexslider">
<ul class="slides">{% for material in page.materials %}
 <li> <a href="{{ material.url }}"><img src="{{ material.img }}" /><span>{{ material.name }}</span></a></li>{% endfor %}
</ul>
</div>
<h4>Tools:</h4>
<div id="tool-slider" class="flexslider">
<ul class="slides">{% for tool in page.tools %}
  <li><a href="{{ tool.url }}"><img src="{{ tool.img }}" /><span>{{ tool.name }}</span></a></li>{% endfor %}
</ul>
</div>
{% endif %}
{% if page.categories contains "build-manual" %}
<div class="prev">
  {% if page.next and page.next.categories contains "build-manual" %}
    <a href="{{page.next.url}}">
      <h2>{{page.next.title}}</h2>
    </a>
  {% endif %}
</div>
<div class="next">
  {% if page.previous and page.previous.categories contains "build-manual" %}
    <a href="{{page.previous.url}}">
      <h2>{{page.previous.title}}</h2>
    </a>
  {% endif %}
</div>
{% endif %}
{% if page.categories contains "vanlife-manual" %}
<div class="prev">
  {% if page.next and page.next.categories contains "vanlife-manual" %}
    <a href="{{page.next.url}}">
      <h2>{{page.next.title}}</h2>
    </a>
  {% endif %}
</div>
<div class="next">
  {% if page.previous and page.previous.categories contains "vanlife-manual" %}
    <a href="{{page.previous.url}}">
      <h2>{{page.previous.title}}</h2>
    </a>
  {% endif %}
</div>
{% endif %}
</div>
</div>
 <div class="right-side splitscreen">
    <div class="wrapper">
  <article class="post-content">
    {{ content }}
    <div class="article-footer">
      {% if page.categories contains "build-manual" %}
<div class="prev post-list">
  {% if page.next and page.next.categories contains "build-manual" %}
  <h6>Prev Chapter</h6>
   <a class="post-link" href="{{ page.next.url | prepend: site.baseurl }}">
            <li>
              <span>{{page.next.number}}</span>
              {% for image in page.next.images %}
      <img src="{{image.background}}" />
      {% endfor %}
              <h2>
                {{ page.next.title }}
              </h2>
            </li>
            </a>
  {% endif %}
</div>
<div class="next post-list">
  {% if page.previous and page.previous.categories contains "build-manual" %}
  <h6>Next Chapter</h6>
    <a class="post-link" href="{{ page.previous.url | prepend: site.baseurl }}">
            <li>
              <span>{{page.previous.number}}</span>
              {% for image in page.previous.images %}
      <img src="{{image.background}}" />
      {% endfor %}
              <h2>
                {{ page.previous.title }}
              </h2>
            </li>
            </a>
  {% endif %}
</div>
{% endif %}
{% if page.categories contains "vanlife-manual" %}
<div class="prev post-list">
  {% if page.next and page.next.categories contains "vanlife-manual" %}
  <h6>Prev Chapter</h6>
   <a class="post-link" href="{{ page.next.url | prepend: site.baseurl }}">
            <li>
              <span>{{page.next.number}}</span>
              {% for image in page.next.images %}
      <img src="{{image.background}}" />
      {% endfor %}
              <h2>
                {{ page.next.title }}
              </h2>
            </li>
            </a>
  {% endif %}
</div>
<div class="next post-list">
  {% if page.previous and page.previous.categories contains "vanlife-manual" %}
   <h6>Next Chapter</h6>
    <a class="post-link" href="{{ page.previous.url | prepend: site.baseurl }}">
            <li>
              <span>{{page.previous.number}}</span>
              {% for image in page.previous.images %}
      <img src="{{image.background}}" />
      {% endfor %}
              <h2>
                {{ page.previous.title }}
              </h2>
            </li>
            </a>
  {% endif %}
</div>
{% endif %}
    </div>
  </article>
</div>
</div>

</div>
<script src="{{ "/js/flexslider.js" | prepend: site.baseurl }}"></script>

<!-- Target sliders individually with different properties -->
<script type="text/javascript" charset="utf-8">

(function() {
 
  // store the slider in a local variable
  var $window = $(window),
      flexslider;
 
  // tiny helper function to add breakpoints
  function getGridSize() {
    return (window.innerWidth < 600) ? 2 :
           (window.innerWidth < 900) ? 3 : 4;
  }

  $(window).load(function() {
      // The slider being synced must be initialized first
  $('#material-slider').flexslider({
      animation: "slide",
      itemWidth: 210,
      itemMargin: 5,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: getGridSize(), // use function to pull in initial value
      move: 0,
      slideshow: false,
      randomize: true,
      controlNav: false,
  });

  $('#tool-slider').flexslider({
      animation: "slide",
      itemWidth: 210,
      itemMargin: 5,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: getGridSize(), // use function to pull in initial value
      move: 0,
      slideshow: false,
      randomize: true,
      controlNav: false,
  });
  });

  // check grid size on resize event
  $window.resize(function() {
    var gridSize = getGridSize();
 
    flexslider.vars.minItems = gridSize;
    flexslider.vars.maxItems = gridSize;
  });
}());
</script>
